.styled-checkbox {  // take and hide it
  position: absolute; 
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
  }

  // Box hover
  &:hover + label:before {
    border-color: #bc9cff;
  }

  // Box checked
  &:checked + label:before {
    background: #fff;
    border-color: #bc9cff;
  }

  // Disabled state label
  &:disabled + label {
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
  }

  // Disabled box
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 10px;
    background: #bc9cff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #bc9cff, 4px 0 0 #bc9cff, 4px -2px 0 #bc9cff,
      4px -4px 0 #bc9cff, 4px -6px 0 #bc9cff, 4px -8px 0 #bc9cff;
    transform: rotate(45deg);
  }
}