.button-links {
  margin-top: 100px;
}

.button-link {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.colorful-link {
  color: #bc9cff;
}

.grey-link {
  color: rgba(31, 32, 65, 0.5);
}
