.container {
  display: block;
  position: relative;
  height: auto;
  //margin: 40px auto;
  //width: 500px;
  //padding: 20px;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto; //управляет отображением содержания блочного элемента
}

ul li {
  color: rgba(31, 32, 65, 0.5);
  display: block;
  position: relative;
  float: left;
}

ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
}

ul li:hover label {
  color: rgba(31, 32, 65, 0.75);
}

ul li .check {
  display: block;
  position: absolute;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 35px;
  left: 45px;
  z-index: 5;
}

ul li:hover .check {
  border: 1px solid #bc9cff;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 4px;
  left: 4px;
  margin: auto;
}

input[type="radio"]:checked ~ .check {
  border: 1px solid #bc9cff;
}

input[type="radio"]:checked ~ .check::before {
  background: #bc9cff;
}

input[type="radio"]:checked ~ label {
  color: rgba(31, 32, 65, 0.75);
}