.standart-buttons {
  //временный стиль для демо страницы
  margin-top: 50px;
}

a.knopka {
  text-decoration: none;
  border-radius: 22px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  padding: 15px 18px; /* отступ от текста */
}

a.knopka:active {
  opacity: 0.5;
} /* при нажатии */

.purple-btn,
.purple-btn-light {
  color: #fff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.white-btn,
.light-white-btn {
  color: #bc9cff;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #bc9cff;
}

.purple-btn-light {
  opacity: 0.5;
}

.light-white-btn {
  border-color: #bc9cff;
}

/* opacity-border */

.outer-opacity-border {
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: 30px;
  //background-color: white;
}

.inner {
  position: relative;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -25%;
  width: 99px;
  height: 44px;
  background-color: white;
  border-radius: 22px;
  cursor: pointer;
}

.transparent-border {
  background-clip: padding-box;
  border: 2px solid hsla(259, 100%, 81%, 0.5);
}

.transparent-span {
  color: #bc9cff;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 38px;
  padding-left: 17px;
}
